<div id="top_bar">
    <div class="side_bar">
        PROJECT:
        HOUSE IN JL RUBY 2
    </div>
    <div class="main_content">
        <div class="block">
            <p>Reminder: <span>25% Complete Brief</span></p>
            <div class="progress_bar"></div>
        </div>
        <div class="block">
            <p>Send Feedback On Proposal</p>
        </div>
        <div class="block">
            <p>Pending Invoice</p>
        </div>
    </div>
</div>

<div id="side_bar">
    <ul class="project_nav">
        <li routerLinkActive="active" routerLink="feed">
            <img src="assets/icons/project/chalkboard.png" alt="">
            <a>PROJECT FEED</a>
        </li>
        <li>
            <img src="assets/icons/project/upload.png" alt="">
            <a>UPLOADS</a>
        </li>
        <li>
            <img src="assets/icons/project/user_detail.png" alt="">
            <a>PROJECT INFO</a>
        </li>
        <li>
            <img src="assets/icons/project/chart.png" alt="">
            <a>ORDERS</a>
        </li>
        <li>
            <img src="assets/icons/project/diamond.png" alt="">
            <a>PAYMENTS</a>
        </li>
    </ul>
</div>


<div id="main_content">
    <router-outlet></router-outlet>
</div>

