@import 'variables';

:host {
    display: grid;
    grid-template-areas: '. .' 'main sidebar';
    grid-template-columns: 70% 1fr;
    grid-gap: 2rem;
    padding: 2rem;

    .cart_panel {
        background-color: white;
        border: 1px solid $primary_gray;
        border-radius: 0.4rem;
    }
}


#main_container {
    grid-area: main;

    .cart_panel {
        padding-bottom: 7.4rem;
    }

    .header {
        border-bottom: 1px solid $primary_gray;
        font-size: 2rem;
        font-weight: 600;
        padding: 1.6rem 2rem;
        text-align: center;
    }

    .body {
        padding: 2rem;

        .divider {
            background-color: $primary_gray;
            margin: 1.5rem 0;
            width: 100%;
            height: 0.1rem;
        }

        .title {
            align-items: center;
            justify-content: space-between;

            .name {
                flex-direction: column;
                align-items: flex-start;

                p {
                    font-size: 1.6rem;
                    margin-bottom: 0.8rem;
                }
            }

            .trademark {
                width: 13rem;
            }
        }

        .invoice_info {
            flex-direction: column;
            align-items: flex-start;

            p {
                font-size: 1.4rem;
                font-weight: normal;
                margin-bottom: 0.8rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .cart_list {
            .room_name {
                margin-bottom: 1.5rem;
            }

            .cart_item {
                margin-bottom: 3rem;

                .image {
                    margin-right: 3rem;
                    width: 15rem;
                    height: 15rem;
                }

                .info_wrapper {
                    flex: 1;
                    flex-direction: column;

                    .row {
                        display: grid;
                        grid-template-columns: 3fr repeat(3, 2fr) 0.5fr;
                        align-items: start;
                        justify-items: center;
                        width: 100%;

                        p {
                            font-size: 1.4rem;
                            font-weight: normal;
                        }

                        > * {
                            &:first-child {
                                justify-self: start;
                                text-align: left !important;
                            }

                            &:last-child {
                                justify-self: end;
                            }
                        }

                        .email_icon {
                            width: 2rem;
                        }
                    }

                    .cart_item_info {
                        margin-top: 0.8rem;
                        .note > * {
                            font-size: 1.4rem!important;
                            font-weight: 200;

                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 2rem;

        .term {
            align-self: flex-end;
            font-size: 1.4em;
            font-weight: bold;
        }

        .invoice_summary {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 40%;

            .row {
                display: inline-grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                > * {
                    margin-bottom: 1rem;

                    &:first-child {
                        justify-self: start;
                        text-align: left;
                    }

                    &:last-child {
                        justify-self: end;
                    }
                }
            }

            p {
                font-size: 1.4rem;
                font-weight: 200;
            }

            h2 {
                margin-bottom: 1rem;
            }

            .shopping_cost {
                p {
                    &:first-child {
                        margin-left: 2rem;
                    }

                    &:last-child {
                        font-weight: bold;
                    }
                }
            }

            .divider {
                background-color: $primary_gray;
                margin: 1.5rem 0;
                width: 100%;
                height: 0.1rem;
            }
        }
    }
}

#sidebar {
    grid-area: sidebar;

    .header {
        border-bottom: 1px solid $primary_gray;
        font-size: 2rem;
        font-weight: 600;
        padding: 1.6rem 2rem;
    }

    #order_summary {
        display: flex;
        flex-direction: column;
        padding: 1.8rem 2rem;

        .row {
            display: inline-grid;
            grid-template-columns: 3fr 2fr 1fr;
            align-items: center;

            > * {
                font-size: 1.6rem;
                font-weight: normal;

                &:first-child {
                    justify-self: start;
                }
            }
        }

        .price {
            justify-self: end;
        }

        .remove_icon {
            justify-self: center;
            width: 1.3rem;
            height: 1.3rem;
        }

        .tax {
            margin-top: 2.8rem;
        }

        .divider {
            background-color: $primary_gray;
            margin: 1.5rem 0;
            width: 100%;
            height: 0.1rem;
        }
    }

    io-btn {
        background-color: $primary_blue;
        box-shadow: 0 0 0.6rem color_opacity(#000000, 0.16);
        border: 1px solid white;
        color: white;
        font-size: 1.4rem;
        font-weight: 200;
        margin: 0 2rem 2rem 2rem;
        padding: 1rem 2rem;
    }
}
