<div class="breadcrumb"><a (click)="location.back()">< Back</a></div>

<div id="main_container">
  <div class="cart_panel">
    <div class="header">QUOTATIONS (DRAFT)</div>
    <div class="body">
      <flex class="title">
        <flex class="name">
          <p>HOUSE IN JL. RUBY 2</p>
          <h2>LOOSE FURNITURE REV. 2</h2>
        </flex>
        <div class="trademark">
          <img
            src="assets/images/trademark.png"
            alt=""
            class="img-responsive"
          />
        </div>
      </flex>
      <div class="divider"></div>
      <flex class="invoice_info">
        <p>TYPICAL QUOTATION INFO:</p>
        <p>CLIENT:</p>
        <p>ADDRESS:</p>
        <p>DATE:</p>
        <p>DESIGNER:</p>
        <p>REVISION: R2</p>
      </flex>
      <div class="divider"></div>

      <div class="cart_list">
        <div class="room">
          <h2 class="room_name">LIVING ROOM:</h2>
          <flex class="cart_item">
            <div class="image">
              <img
                src="assets/images/project/furniture-1.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <flex class="info_wrapper">
              <div class="row heading">
                <h3>FURNITURE</h3>
                <h3>UNIT PRICE</h3>
                <h3>QTY</h3>
                <h3>TOTAL</h3>
                <img
                  src="assets/icons/project/email.png"
                  alt=""
                  class="email_icon img-responsive"
                />
              </div>
              <div class="row cart_item_info">
                <p>
                  Nagarey 2-Seat Sofa <br /><br />
                  Availabitity: XX <br /><br />
                  ETA: XX <br /><br />
                  Return Policy: XX <br /><br />
                  Note: XX
                </p>
                <p>4,000,000</p>
                <p>1</p>
                <p>XXX</p>
                <p></p>
              </div>
            </flex>
          </flex>

          <flex class="cart_item">
            <div class="image">
              <img
                src="assets/images/project/furniture-1.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <flex class="info_wrapper">
              <div class="row heading">
                <h3>FURNITURE</h3>
                <h3>UNIT PRICE</h3>
                <h3>QTY</h3>
                <h3>TOTAL</h3>
                <img
                  src="assets/icons/project/email.png"
                  alt=""
                  class="email_icon img-responsive"
                />
              </div>
              <div class="row cart_item_info">
                <p>
                  Nagarey 2-Seat Sofa <br /><br />
                  Availabitity: XX <br /><br />
                  ETA: XX <br /><br />
                  Return Policy: XX <br /><br />
                  Note: XX
                </p>
                <p>4,000,000</p>
                <p>1</p>
                <p>XXX</p>
                <p></p>
              </div>
            </flex>
          </flex>
        </div>

        <div class="divider"></div>
        <div class="room">
          <h2 class="room_name">MASTER BEDROOM:</h2>

          <flex class="cart_item">
            <div class="image">
              <img
                src="assets/images/project/furniture-1.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <flex class="info_wrapper">
              <div class="row heading">
                <h3>FURNITURE</h3>
                <h3>UNIT PRICE</h3>
                <h3>QTY</h3>
                <h3>TOTAL</h3>
                <img
                  src="assets/icons/project/email.png"
                  alt=""
                  class="email_icon img-responsive"
                />
              </div>
              <div class="row cart_item_info">
                <p>
                  Nagarey 2-Seat Sofa <br /><br />
                  Availabitity: XX <br /><br />
                  ETA: XX <br /><br />
                  Return Policy: XX <br /><br />
                  Note: XX
                </p>
                <p>4,000,000</p>
                <p>1</p>
                <p>XXX</p>
                <p></p>
              </div>
            </flex>
          </flex>

          <flex class="cart_item">
            <div class="image">
              <img
                src="assets/images/project/furniture-1.png"
                alt=""
                class="img-responsive"
              />
            </div>
            <flex class="info_wrapper">
              <div class="row heading">
                <h3>FURNITURE</h3>
                <h3>UNIT PRICE</h3>
                <h3>QTY</h3>
                <h3>TOTAL</h3>
                <img
                  src="assets/icons/project/email.png"
                  alt=""
                  class="email_icon img-responsive"
                />
              </div>
              <div class="row cart_item_info">
                <p>
                  Nagarey 2-Seat Sofa <br /><br />
                  Availabitity: XX <br /><br />
                  ETA: XX <br /><br />
                  Return Policy: XX <br /><br />
                  Note: XX
                </p>
                <p>4,000,000</p>
                <p>1</p>
                <p>XXX</p>
                <p></p>
              </div>
            </flex>
          </flex>
        </div>
      </div>

      <div class="divider"></div>
    </div>

    <div class="footer">
      <h2 class="term">TERMS OF PAYMENT</h2>
      <div class="invoice_summary">
        <h2>Summary</h2>
        <div class="row">
          <p>LIVING ROOM</p>
          <p></p>
        </div>
        <div class="row">
          <p>MASTER BEDROOM</p>
          <p></p>
        </div>

        <div class="divider"></div>

        <div class="row">
          <p></p>
          <p>SUB TOTAL XX</p>
        </div>

        <h2>Shipping</h2>

        <div class="row shopping_cost">
          <p>Nagarey</p>
          <p>200,000</p>
        </div>
        <div class="row shopping_cost">
          <p>Fabelio</p>
          <p>50,000</p>
        </div>
        <div class="row shopping_cost">
          <p>Juno Home</p>
          <p>100,000</p>
        </div>
        <h2>Tax</h2>
        <div class="divider"></div>
        <div class="row">
          <p></p>
          <p>TOTAL XX</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sidebar">
  <div class="cart_panel">
    <div class="header">MY CART</div>

    <div id="order_summary">
      <div class="row">
        <label>Living Room</label>
        <p class="price">5,000,000</p>
        <div class="remove_icon">
          <img class="img-responsive" src="assets/icons/project/x.png" alt="" />
        </div>
      </div>
      <div class="row">
        <label>Master Bedroom</label>
        <p class="price">5,000,000</p>
        <div class="remove_icon">
          <img class="img-responsive" src="assets/icons/project/x.png" alt="" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="row subtotal">
        <label>Sub Total</label>
        <p class="price">10,000,000</p>
        <div class="remove_icon">
          <img class="img-responsive" src="assets/icons/project/x.png" alt="" />
        </div>
      </div>
      <div class="row tax">
        <label>Est. Tax</label>
        <p class="price">200,000</p>
        <div></div>
      </div>
      <div class="divider"></div>
      <div class="row total">
        <label>Total</label>
        <p class="price">10,000,000</p>
        <div></div>
      </div>
    </div>

    <io-btn>CHECK-OUT</io-btn>
  </div>
</div>
