<io-form
        [formGroup]="formGroup"
        (submit)="onSubmit($event)"
></io-form>

<io-form
        [formGroup]="formGroup"
        (submit)="onSubmit($event)"
>
    <form-control [name]="'email'"></form-control>
    <h2>Second</h2>
</io-form>

<io-form
        [formGroup]="formGroup"
        (submit)="onSubmit($event)"
>
    <ng-container *ngFor="let config of _formConfigs">
        <form-control [name]="config.name"></form-control>
    </ng-container>

    <h2>Third</h2>
</io-form>


<io-btn
        [submitForm]="formGroup"
        [disabled]="formGroup?.invalid && formGroup?.submitted"
>
    Submit
</io-btn>