:host {

    display: flex;
    justify-content: center;
    padding-top: 7.7rem;

    .left_panel {
        background-color: white;
        border-radius: .4rem;
        box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 0.16%);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 4.27rem 0 0 0;
        padding: 3rem 0 1.2rem 3rem;
        position: relative;
        transform: translateX(2.6rem);
        height: 48.6rem;
        width: 33.4rem;
        max-width: 33.4rem;

        img {
            width: 21.4rem;
            height: 21.4rem;
        }

        h1 {
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            margin-top: 1.3rem;
            width: 100%;

            &:after {
                background-color: #0D1D32;
                content: '';
                position: absolute;
                width: 4.4rem;
                height: .3rem;
                top: calc(100% + 1.5rem);
            }
        }

        .instructions {
            align-self: flex-start;
            margin-top: auto;

            .step {
                display: flex;
                align-items: center;
                margin: 1.5rem 0;

                img, .unchecked {
                    margin-right: 1rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }

                .unchecked {
                    border: 1px solid rgba(13, 29, 50, .2);
                    border-radius: 100%;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }
        }

        @media (max-width: 992px) {
            display: none;
        }
    }

    .right_panel {
        background-color: white;
        border-radius: .4rem;
        padding: 4rem 6.5rem 3.7rem 9.1rem;
        width: 56rem;
        height: auto;
        min-height: 55rem;

        h2 {
            margin: 1.3rem 0 3.1rem 0;
        }

        io-form {
            ::ng-deep form-control {
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 50;

                form-label {
                    background-color: white;
                    padding: .1rem .7rem .3rem .3rem;
                    position: absolute;
                    top: -1rem;
                    left: 1.7rem;
                    z-index: 20;
                }

                form-field {
                    height: 5rem;
                    max-height: 5rem;

                    io-input {
                        border: 1px solid rgba(13, 29, 50, .5);

                        input {
                            background-color: white;

                            &:-webkit-autofill {
                                background-color: white !important;
                            }
                        }

                        &.invalid {
                            border-color: #E88A8A;
                        }
                    }
                }
            }
        }

        io-btn {
            background-color: #0D1D32;
            color: white;
            height: 5rem;
            width: 100%;

            &.fb_signin_button {
                background-color: white;
                border: 1px solid #0D1D32;
                color: #0D1D32;
            }
        }
    }
}