<div id="main_menu">
    <div class="container">
        <div class="logo" routerLink="/dashboard">
            <img class="img-responsive" src="assets/images/logo.png" alt="">
        </div>

        <div class="site-nav" *ngIf="isAuthenticated">
            <a
                    routerLinkActive="active"
                    routerLink="/"
                    (mouseenter)="openSubMenu = true"
            >
                MY HOME
            </a>
            <a routerLink="/">DISCOVER LOOKS</a>
            <a routerLink="/">MY FAVORITES</a>
            <a routerLink="product">BROWSE PRODUCTS</a>
            <a routerLink="/">ORDERS & PAYMENTS</a>
        </div>

        <io-dropdown class="user">
            <dropdown-toggle>
                <img src="assets/images/user_avatar_placeholder.png" alt="" class="img-responsive">
            </dropdown-toggle>
            <dropdown-menu [visible]="isAuthenticated">
                <li><a>Orders</a></li>
                <li><a>Credits</a></li>
                <li><a routerLink="profile">Account Details</a></li>
                <li><a>Share the Style</a></li>
                <li><a>Style Quiz</a></li>
                <li class="dropdown_divider"></li>
                <li (click)="onLogout()"><a>Logout</a></li>
            </dropdown-menu>


        </io-dropdown>


        <div class="cart_icon">
            <img src="assets/icons/shopping_cart.png" alt="" class="img-responsive">
        </div>
    </div>

</div>

<div id="sub_menu" *ngIf="isAuthenticated && openSubMenu">
    <div class="btn">+ NEW PROJECT</div>

    <div class="separator"></div>

    <div class="project_list">
        <ng-container *ngFor="let proj of project_list">
            <a routerLink="project/{{proj.id}}">{{proj.name}}</a>
        </ng-container>
    </div>

</div>