<div id="main_menu">
    <div class="container">
        <div class="logo" routerLink="/dashboard">
            <img class="img-responsive" src="assets/images/logo.png" alt="">
        </div>

        <div class="site-nav" *ngIf="authSvs.isAuthenticated()">
            <a
                    routerLinkActive="active"
                    routerLink="/"
                    (mouseenter)="_openSubMenu = true"
            >
                MY HOME
            </a>
            <a routerLink="/">DISCOVER LOOKS</a>
            <a routerLink="/">MY FAVORITES</a>
            <a routerLink="/">BROWSE PRODUCTS</a>
            <a routerLink="/">ORDERS & PAYMENTS</a>
            <!--<a routerLink="/auth/login" *ngIf="!authSvs.isAuthenticated()">Login</a>-->
            <!--<a routerLink="/auth/register" *ngIf="!authSvs.isAuthenticated()">Register</a>-->
            <!--<a routerLink="/auth/change-password" *ngIf="authSvs.isAuthenticated()">Change Password</a>-->
            <!--<a routerLink="/profile" *ngIf="authSvs.isAuthenticated()">Profile</a>-->
            <!--<a routerLink="/invoice" *ngIf="authSvs.isAuthenticated()">Invoice</a>-->
            <!--<a routerLink="/create-project">Create project</a>-->
        </div>


        <div class="user">
            <div class="avatar" (click)="user_dropdown = !user_dropdown">
                <img src="assets/images/user_avatar_placeholder.png" alt="" class="img-responsive">
            </div>
            <ul class="dropdown_menu {{user_dropdown && 'active'}}" *ngIf="authSvs.isAuthenticated() && user_dropdown">
                <li><a>Orders</a></li>
                <li><a>Credits</a></li>
                <li><a routerLink="profile">Account Details</a></li>
                <li><a>Share the Style</a></li>
                <li><a>Style Quiz</a></li>
                <li class="dropdown_divider"></li>
                <li (click)="authSvs.logout()"><a>Logout</a></li>

            </ul>
        </div>

        <div class="cart_icon">
            <img src="assets/icons/shopping_cart.png" alt="" class="img-responsive">
        </div>
    </div>

</div>

<div id="sub_menu" *ngIf="authSvs.isAuthenticated() && _openSubMenu">
    <div class="btn">+ NEW PROJECT</div>

    <div class="separator"></div>

    <div class="project_list">
        <a routerLink="project">Johan Kitchen</a>
        <a routerLink="project">House in JL Ruby 2</a>
        <a routerLink="project">Natasha Apartment</a>
        <a routerLink="project">Melissa Kitchen</a>
        <a routerLink="project">SEE ALL</a>
    </div>

</div>