@import "normalize";
@import "grid";
@import "variables";
@import "font";

html {
    font-size: 62.5%;
}

body {
    background-color: #EEEEEE;
    color: #0D1D32;
    font-family: 'Karla', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #0D1D32;

    font-size: 2.8em;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    color: #0D1D32;
    font-size: 1.8rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}