<main-panel>
    <div class="header">ORDERS</div>
    <div class="row heading">
        <h2>REF</h2>
        <h2>Category</h2>
        <h2>Petment</h2>
        <h2>Status</h2>
        <h2>Recieved By</h2>
    </div>

    <div class="row item">
        <p>Loose Furniture</p>
        <p>Furniture</p>
        <p>Full</p>
        <p>In Process</p>
        <p></p>
    </div>
    <div class="row item">
        <p>Loose Furniture</p>
        <p>Furniture</p>
        <p>Full</p>
        <p>In Process</p>
        <p></p>
    </div>
    <div class="row item">
        <p>Loose Furniture</p>
        <p>Furniture</p>
        <p>Full</p>
        <p>In Process</p>
        <p></p>
    </div>
    <div class="row item">
        <p>Loose Furniture</p>
        <p>Furniture</p>
        <p>Full</p>
        <p>In Process</p>
        <p></p>
    </div>
    <div class="row item">
        <p>Loose Furniture</p>
        <p>Furniture</p>
        <p>Full</p>
        <p>In Process</p>
        <p></p>
    </div>
</main-panel>