<div class="left_panel">
    <img src="assets/images/auth/living-room.png" alt="" class="img-responsive">
</div>
<div class="right_panel">
    <h1>Whoops!</h1>
    <h2>Let’s admit it, it’s hard to remember all your passwords.</h2>
    <aurora-form

            [config]="configs"
            [default_template]="true"
            (submit)="onForgotPassword($event)"
    >
    </aurora-form>
    <aurora-button class="submit" submit_form>
        Reset Your Password
    </aurora-button>

    <div class="footer">
        <aurora-button [routerLink]="['../../login']">Sign In</aurora-button>
        <aurora-button [routerLink]="['../../register']">Sign Up</aurora-button>
    </div>
</div>