<div class="left_panel">
    <img src="assets/images/auth/dining-room2.png" alt="" class="img-responsive">
</div>
<div class="right_panel">
    <h1>Welcome back</h1>
    <h2>Sign in to your Homeey account.</h2>
    <io-form
            mediaType="json"
            [formGroup]="formGroup"
            (submit)="onLogin($event)"
    >
    </io-form>
    <section class="section_3">
        <io-checkbox label="Remember Me">Remember Me</io-checkbox>
        <io-btn class="forgot_pass" [routerLink]="['../../forgot-password']">Forgot Password</io-btn>
    </section>
    <section class="section_4">
        <io-btn class="signin_button" [submitForm]="formGroup" [disabled]="formGroup.invalid">
            Sign In
        </io-btn>
        <p>or</p>
        <io-btn class="fb_signin_button">
            Sign In with Facebook
        </io-btn>
    </section>

    <footer>
        Don't have an account? <a [routerLink]="['../../register']">Sign Up</a>
    </footer>
</div>