<div class="breadcrumb"><a (click)="location.back()">< Back</a></div>

<div class="image_panel" #myBounds>
    <div class="main_image" (click)="onCreateConversation($event)">
        <img
                class="img-responsive"
                src="assets/images/project/image-concept-1.png"
                alt=""
        >
    </div>
    <ng-container *ngFor="let conv of conversation_list">
        <marker
                ngDraggable
                [bounds]="myBounds"
                [inBounds]="true"
                (movingOffset)="onDrag()"
                (endOffset)="onDrop($event, conv)"
                [data]="conv"
                [item_id]="item_id"
                [isSelected]="selectedMarker?.id === conv.id"
                (change)="onSelectedMarker(conv.id)"
        >

        </marker>
    </ng-container>

</div>

<main-panel *ngIf="selectedMarker?.concepts.data.length > 1">
    <div class="header"><h2>Comment (5)</h2></div>

    <io-form
            class="input_toolbar"
            [mediaType]="'form-data'"
            [formGroup]="formGroup"
            (submit)="onSendComment($event)"
    >
        <div class="avatar">
            <img class="img-responsive" src="assets/images/user_avatar_placeholder.png" alt="">
        </div>

        <form-control [name]=" 'text' "></form-control>

        <form-control name="picture" class="upload_button">
            <ng-template fieldTemplate>
                <img class="img-responsive"
                     src="assets/icons/project/paperclip.png" alt="">
            </ng-template>
        </form-control>


        <io-btn class="send_button" [submitForm]="formGroup" [disabled]="formGroup?.invalid && formGroup?.submitted">
            <img class="img-responsive" src="assets/icons/project/send.png" alt="">
        </io-btn>

    </io-form>


    <div class="comment_list" *ngIf="selectedMarker">
        <ng-container *ngFor="let cmt of selectedMarker.concepts.data">
            <div class="message">
                <div class="avatar">
                    <img src="{{cmt.user.avatar || 'assets/images/user_avatar_placeholder.png'}}" alt=""
                         class="avatar img-responsive">
                </div>
                <div class="user_info">
                    <p class="name">{{cmt.user.full_name}}</p>

                    <div class="bubble">
                        <p class="text" [innerHTML]="cmt.text" *ngIf="cmt.text">
                        </p>
                        <img class="img-responsive" src="{{cmt.photo}}" alt="" *ngIf="cmt.photo">
                    </div>

                </div>

            </div>
        </ng-container>
    </div>


</main-panel>