<div class="top_bar">
    <div class="container">
        <p>Last Login: XX-XX-18</p>
    </div>
</div>

<div class="main_content">


    <io-form
            id="sidebar"
            [formGroup]="formGroup"
            (submit)="getPage(1, $event)"
    >
        <main-panel>
            <div class="header">Keyword</div>
            <form-control [name]=" 'keywords' "></form-control>
        </main-panel>
        <main-panel>
            <div class="header">Price</div>
            <form-control [name]=" 'base_price' "></form-control>
        </main-panel>
        <main-panel>
            <div class="header">Category</div>
            <form-control [name]=" 'category_id' "></form-control>
        </main-panel>
        <main-panel>
            <div class="header">Brand</div>

            <form-control [name]=" 'brand_name' "></form-control>

        </main-panel>

        <io-btn (click)="onClearFilter()">RESET ALL</io-btn>
    </io-form>


    <div id="product_grid">
        <div class="product_list">
            <ng-container *ngFor="let product of product_list">
                <a class="product_tile" [routerLink]="['../../', product.id]">
                    <div class="image"><img class="img-responsive" src="{{product.photo}}" alt="">
                    </div>
                    <p class="name">{{product.name}}</p>
                </a>
            </ng-container>


        </div>

        <io-pagination
                [total]="total_page"
                [maxSize]="4"
                [boundary]="false"
                (change)="getPage($event)"
        >
            <page-link [directionLinks]="'prev'">
                <img class="img-responsive" src="assets/icons/left_arrow.png" alt="">
            </page-link>
            <page-link [directionLinks]="'next'">
                <img class="img-responsive" src="assets/icons/right_arrow.png" alt="">
            </page-link>
        </io-pagination>
    </div>
</div>