<div class="top_bar">
    <div class="container">
        <p>Last Login: XX-XX-18</p>
    </div>
</div>

<div class="main_content">


    <io-form
            id="sidebar"
            [formGroup]="formGroup"
    >
        <main-panel>
            <div class="header">Keyword</div>
            <form-control [name]=" 'keywords' "></form-control>
        </main-panel>
        <main-panel>
            <div class="header">Price</div>
            <form-control [name]=" 'base_price' "></form-control>
        </main-panel>
        <main-panel>
            <div class="header">Category</div>
            <form-control [name]=" 'category_id' "></form-control>
        </main-panel>
        <main-panel>
            <div class="header">Brand</div>

            <form-control [name]=" 'brand_name' "></form-control>

        </main-panel>

        <io-btn>RESET ALL</io-btn>
    </io-form>


    <div id="product_grid">
        <div class="product_list">
            <ng-container *ngFor="let product of product_list">
                <a class="product_tile" routerLink="../../12345">
                    <div class="image"><img class="img-responsive" src="{{product.photo}}" alt="">
                    </div>
                    <p class="name">{{product.name}}</p>
                </a>
            </ng-container>


        </div>

        <io-pagination
                [total]="total_page"
                [maxSize]="4"
                (change)="getPage($event)"
        ></io-pagination>
    </div>
</div>