<div class="top_bar">
    <div class="container">
        <p>Last Login: XX-XX-18</p>
    </div>
</div>

<div class="main_content">
    <div id="sidebar"></div>
    <div id="product_grid">
        <div class="product_list">
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>
            <div class="product_tile">
                <div class="image"><img class="img-responsive" src="assets/images/merchandise/product_1.png" alt="">
                </div>
                <p class="name">Monroe Mid-Century Sofa</p>
            </div>

        </div>
    </div>
</div>