<div class="left_panel">
    <img src="assets/images/auth/living-room.png" alt="" class="img-responsive">
</div>
<div class="right_panel">
    <h1>Whoops!</h1>
    <h2>Let’s admit it, it’s hard to remember all your passwords.</h2>
    <aurora-form
            [config]="_token ? _forgotConfig : configs"
            [default_template]="true"
            (submit)="onChangePassword($event)"
    >
    </aurora-form>
    <aurora-button class="submit" submit_form>
        Change Your Password
    </aurora-button>
</div>