@import 'variables';

:host {
  background-color: white;
  border: 1px solid $primary_gray;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  //flex-shrink: 0;

  ::ng-deep {
    .header {
      border-bottom: 1px solid $primary_gray;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      font-weight: 600;
      padding: 1.6rem 2rem;
      p {
        font-size: 1.4rem;
        font-weight: 200;
      }
    }

    .row {
      border-bottom: 1px solid $primary_gray;
      display: inline-grid;
      grid-template-columns: repeat(3, 1fr) 2fr 4fr;
      align-items: center;
      justify-items: center;

      > * {
        font-size: 1.4rem;
        font-weight: 200;

        &:first-child,
        &:last-child {
          justify-self: start;
        }
      }
    }

    .heading {
      padding: 1rem 2rem;

      h2 {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }

    .item {
      padding: 1.5rem 2rem;
      transition: all 0.3s;

      io-btn {
        background-color: white;
        font-size: 1.4rem;
        font-weight: 200;
        padding: 1rem 2rem;
      }

      &:hover {
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.16);
        border: none;
        transform: translate(-0.1rem, -0.1rem);
        width: calc(100% + 0.2rem);
        height: calc(100% + 0.2rem);

        io-btn {
          box-shadow: 0 0 0.6rem color_opacity(#000000, 0.16) !important;
          border: 1px solid white !important;
          color: white !important;
        }
      }
    }
  }
}
