<div id="chat_app">
    <div class="chat_panel" scroll-down>
        <ng-container *ngFor="let item of chat_feed | keyvalue">

            <div class="msg-container date">
                <div class="text"> {{_moment(item.key).fromNow()}}</div>
            </div>

            <ng-container *ngFor="let msg of item.value.array">

                <div class="msg-container center" *ngIf="msg.system">
                    <div class="message">
                        <p class="text" [innerHTML]="msg.text">
                        </p>
                    </div>
                </div>


                <div class="msg-container" [ngClass]="msg.user.id === 1 ? 'left' : 'right'" *ngIf="!msg.system">
                    <div class="message">

                        <div class="user_info" *ngIf="msg.user.id === 1">
                            <img src="{{msg.user.avatar || 'assets/images/user_avatar_placeholder.png'}}" alt=""
                                 class="avatar img-responsive">
                            <p class="name">{{msg.user.first_name}}  {{msg.user.last_name}}</p>
                        </div>

                        <ng-container *ngTemplateOutlet="content; context: {msg: msg}"></ng-container>

                    </div>
                </div>
            </ng-container>

            <ng-template let-msg="msg" #content>
                <div class="bubble">
                    <p class="text" [innerHTML]="msg.text" *ngIf="msg.text">
                    </p>
                    <img class="img-responsive" src="{{msg.photo}}" alt="" *ngIf="msg.photo">
                </div>
                <div class="timestamp">{{_moment(msg.created_at).format('HH:mm')}}</div>
            </ng-template>


        </ng-container>
    </div>

    <io-form
            class="input_toolbar"
            [mediaType]="'form-data'"
            [formGroup]="formGroup"
            (submit)="onSendMsg($event)"
    >
        <div class="avatar">
            <img class="img-responsive" src="assets/images/user_avatar_placeholder.png" alt="">
        </div>

        <form-control name="text"></form-control>

        <form-control name="profile_picture" class="upload_button">
            <ng-template fieldTemplate>
                <img class="img-responsive"
                     src="assets/icons/project/paperclip.png" alt="">
            </ng-template>
        </form-control>


        <io-btn class="send_button" [submitForm]="formGroup" [disabled]="formGroup?.invalid && formGroup?.submitted">
            <img class="img-responsive" src="assets/icons/project/send.png" alt="">
        </io-btn>

    </io-form>
</div>


<ul id="people_roster">
    <li>
        <div class="avatar">
            <img class="img-responsive" src="assets/images/user_avatar_placeholder.png" alt="">
        </div>
        <div class="info">
            <p class="name">Joe Toscano</p>
            <span class="latest_msg">Donec a sapien neque.sdfsa sadfassdfasdfInterdum malesuada</span>
        </div>
    </li>
    <li class="offline">
        <div class="avatar">
            <img class="img-responsive" src="assets/images/user_avatar_placeholder.png" alt="">
        </div>
        <div class="info">
            <p class="name">ADMIN</p>
        </div>
    </li>

</ul>




