<div class="breadcrumb"><a (click)="location.back()">< Back</a></div>

<div id="product_detail">
    <div class="image_carousel">
        <div class="singleMediaViewer">
            <img class="img-responsive" src="{{product?.photo}}" alt="">
        </div>
        <!--<div class="alt_images">-->
        <!--<div class="thumbnail">-->
        <!--<img class="img-responsive" src="assets/images/merchandise/contrast-living-room-1@2x.png" alt="">-->
        <!--</div>-->
        <!--<div class="thumbnail">-->
        <!--<img class="img-responsive" src="assets/images/merchandise/contrast-living-room-1@2x.png" alt="">-->
        <!--</div>-->
        <!--<div class="thumbnail">-->
        <!--<img class="img-responsive" src="assets/images/merchandise/contrast-living-room-1@2x.png" alt="">-->
        <!--</div>-->
        <!--<div class="thumbnail">-->
        <!--<img class="img-responsive" src="assets/images/merchandise/contrast-living-room-1@2x.png" alt="">-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="info">
        <h1 class="name">{{product?.name}}</h1>
        <p class="description" [innerHTML]="product?.description"></p>

        <div class="row">
            <p>SKU:</p>
            <p>27</p>
        </div>
        <div class="row">
            <p>Category:</p>
            <p>Bed room</p>
        </div>
        <div class="row">
            <p>Tags:</p>
            <p>Bed room; Bed</p>
        </div>

        <io-btn>REMOVE WISHLIST</io-btn>
    </div>

</div>

<main-panel id="features">
    <div class="header"><h2>Product infomation</h2></div>
    <div class="content">
        <div class="row">
            <p>Product Code:</p>
            <p>BTBTLS 0000282</p>
        </div>
        <div class="row">
            <p>Product Code:</p>
            <p>BTBTLS 0000282</p>
        </div>
        <div class="row">
            <p>Product Code:</p>
            <p>BTBTLS 0000282</p>
        </div>
        <div class="row">
            <p>Product Code:</p>
            <p>BTBTLS 0000282</p>
        </div>
        <div class="row">
            <p>Product Code:</p>
            <p>BTBTLS 0000282</p>
        </div>


    </div>

</main-panel>