<header>
    <io-btn>+ CREATE ALBUM</io-btn>
</header>


<io-collapsible>
    <collapse-header #header='collapse-header'>
        <h2>PROPOSAL: LIVING ROOM</h2>
        <p>by Denise | <span collapse-toggle>{{header.collapsed ? 'Show' : 'Hide'}}</span></p>
    </collapse-header>

    <collapse-content>
        <div class="pictures">
            <div class="upload tile">
                <io-upload
                        type="dropzone"
                        square
                >
                    <p>
                        + <br/>
                        ADD IMAGE
                    </p>
                </io-upload>
            </div>
            <a class="tile" routerLink="1234">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>
            <a class="tile">
                <div class="thumbnail">
                    <img
                            src="assets/images/project/bedroom_thumbnail.png"
                            alt=""
                            class="img-responsive"
                    />
                </div>
                <div class="title">Bed Room</div>
            </a>

        </div>

        <io-btn>Show All</io-btn>
    </collapse-content>

</io-collapsible>