@import 'variables';

:host {
    header {
        background-color: white;
        display: flex;
        padding: 2rem;
        margin-bottom: 2.6rem;

        io-btn {
            margin: 0;
        }
    }

    ::ng-deep {
        io-collapsible {
            background-color: white;
            border: 1px solid $primary_gray;
            border-radius: 0.4rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 2rem;

            collapse-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 2rem;
                font-weight: 600;
                padding: 1.6rem 2rem;

                p {
                    font-size: 1.4rem;
                    font-weight: 200;
                }
                span {
                    text-decoration: underline;
                }
            }

            collapse-content {
                position: relative;

                io-expandable {

                    .pictures {
                        display: inline-grid;
                        grid-template-columns: repeat(6, 1fr);
                        grid-gap: 2.2rem;
                        //margin: 2.6rem 2rem 0 2rem;

                        .tile {
                            display: flex;
                            flex-direction: column;
                            align-self: start;
                            align-items: center;
                            justify-self: center;
                            margin-bottom: 2.8rem;
                            width: 100%;
                            height: 100%;

                            ::ng-deep io-upload {
                                width: 100%;

                                drop {
                                }
                            }

                            .title {
                                font-size: 1.6rem;
                                font-weight: bold;
                                margin-top: 1.3rem;
                            }

                            .thumbnail {
                                border-radius: 0.4rem;
                            }

                            &:hover,
                            &.active {
                                .title {
                                    font-weight: bold;
                                }

                                .thumbnail {
                                    border: 0.5rem solid $primary_red;
                                }
                            }
                        }
                    }

                    io-btn {
                        margin: 0;
                        position: absolute;
                        height: 3rem;
                        bottom: calc(-3rem / 2)
                    }
                }
            }

        }


    }

}
