<div id="main_container">
  <div id="invoice_list" class="cart_panel">
    <div class="header">INVOICE</div>
    <div class="row heading">
      <h2>Item</h2>
      <h2>Status</h2>
      <h2></h2>
      <h2>% of final bill</h2>
      <h2>Payment</h2>
      <h2></h2>
    </div>

    <div class="row item">
      <p>Loose Furniture</p>
      <io-btn class="open">Open</io-btn>
      <p>Final</p>
      <p>100%</p>
      <p>100,000,000</p>
      <io-btn class="add" routerLink="../detail/sdlkfjsaklj">Add</io-btn>
    </div>
    <div class="row item">
      <p>Loose Furniture</p>
      <io-btn class="open">Open</io-btn>
      <p>Final</p>
      <p>100%</p>
      <p>60,000,000</p>
      <io-btn class="add">Add</io-btn>
    </div>
    <div class="row item">
      <p>Loose Furniture</p>
      <io-btn class="open">Open</io-btn>
      <p>Final</p>
      <p>100%</p>
      <p>50,000,000</p>
      <io-btn class="add">Add</io-btn>
    </div>
  </div>

  <div id="transaction_list" class="cart_panel">
    <div class="header">TRANSACTIONS TO DATE</div>
    <div class="row heading">
      <h2>Item</h2>
      <h2>Status</h2>
      <h2>% of final bill</h2>
      <h2>Payment</h2>
    </div>

    <div class="row item">
      <p>Interior Design</p>
      <io-btn class="open">Open</io-btn>
      <p>100%</p>
      <p>IDR 7,500,000</p>
    </div>
  </div>
</div>

<div id="sidebar">
  <div class="cart_panel">
    <div class="header">MY CART</div>

    <div id="order_summary">
      <div class="row">
        <label>Living Room</label>
        <p class="price">5,000,000</p>
        <div class="remove_icon">
          <img class="img-responsive" src="assets/icons/project/x.png" alt="" />
        </div>
      </div>
      <div class="row">
        <label>Master Bedroom</label>
        <p class="price">5,000,000</p>
        <div class="remove_icon">
          <img class="img-responsive" src="assets/icons/project/x.png" alt="" />
        </div>
      </div>
      <div class="divider"></div>
      <div class="row subtotal">
        <label>Sub Total</label>
        <p class="price">10,000,000</p>
        <div class="remove_icon">
          <img class="img-responsive" src="assets/icons/project/x.png" alt="" />
        </div>
      </div>
      <div class="row tax">
        <label>Est. Tax</label>
        <p class="price">200,000</p>
        <div></div>
      </div>
      <div class="divider"></div>
      <div class="row total">
        <label>Total</label>
        <p class="price">10,000,000</p>
        <div></div>
      </div>
    </div>

    <io-btn>CHECK-OUT</io-btn>
  </div>
</div>
