@import 'variables';

:host {
    display: grid;
    grid-template-areas: 'main sidebar';
    grid-template-columns: 70% 1fr;

    grid-gap: 2rem;
    padding: 2rem;

}

#main_container {
    grid-area: main;

    #invoice_list,
    #transaction_list {
        .row {
            border-bottom: 1px solid $primary_gray;
            display: inline-grid;
            grid-template-columns: repeat(6, 1fr);
            align-items: center;
            justify-items: center;
        }


        .item {
            io-btn {
                &.open {
                    border: 1px solid $primary_red;
                    color: $primary_red;
                }

                &.add {
                    border: 1px solid $primary_blue;
                    color: $primary_blue;
                    flex: 1;
                }
            }

            &:hover io-btn {
                &.open {
                    background-color: $primary_red;
                }

                &.add {
                    background-color: $primary_blue;
                }
            }
        }
    }

    #transaction_list {
        margin-top: 3rem;

        .row {
            grid-template-columns: 3fr 2fr 4fr 4fr;
        }
    }
}

#sidebar {
    grid-area: sidebar;


    .header {
        border-bottom: 1px solid $primary_gray;
        font-size: 2rem;
        font-weight: 600;
        padding: 1.6rem 2rem;
    }

    #order_summary {
        display: flex;
        flex-direction: column;
        padding: 1.8rem 2rem;

        .row {
            border: none;
            grid-template-columns: 3fr 2fr 1fr;

            > * {
                font-size: 1.6rem;
                font-weight: normal;
            }
        }

        .price {
            justify-self: end;
        }

        .remove_icon {
            justify-self: center;
            width: 1.3rem;
            height: 1.3rem;
        }

        .tax {
            margin-top: 2.8rem;
        }

        .divider {
            background-color: $primary_gray;
            margin: 1.5rem 0;
            width: 100%;
            height: 0.1rem;
        }
    }

    io-btn {
        margin-bottom: 2rem;
    }

}
