@import 'variables';

:host {
  display: grid;
  grid-template-areas: 'main sidebar';
  grid-template-columns: 70% 1fr;

  grid-gap: 2rem;
  padding: 2rem;

  .cart_panel {
    background-color: white;
    border: 1px solid $primary_gray;
    border-radius: 0.4rem;
  }
}

#main_container {
  grid-area: main;

  #invoice_list,
  #transaction_list {
    display: flex;
    flex-direction: column;

    .header {
      border-bottom: 1px solid $primary_gray;
      font-size: 2rem;
      font-weight: 600;
      padding: 1.6rem 2rem;
    }

    .row {
      border-bottom: 1px solid $primary_gray;
      display: inline-grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      justify-items: center;

      > * {
        font-size: 1.4rem;
        font-weight: 200;

        &:first-child {
          justify-self: start;
        }

        &:last-child {
          justify-self: end;
        }
      }
    }

    .heading {
      padding: 1rem 2rem;

      h2 {
        font-size: 1.6rem;
        font-weight: normal;
      }
    }

    .item {
      padding: 1.5rem 2rem;
      transition: all 0.3s;

      io-btn {
        background-color: white;
        font-size: 1.4rem;
        font-weight: 200;
        padding: 1rem 2rem;

        &.open {
          border: 1px solid $primary_red;
          color: $primary_red;
        }

        &.add {
          border: 1px solid $primary_blue;
          color: $primary_blue;
          flex: 1;
        }
      }

      &:hover {
        box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.16);
        border: none;
        transform: translate(-0.1rem, -0.1rem);
        width: calc(100% + 0.2rem);
        height: calc(100% + 0.2rem);

        io-btn {
          box-shadow: 0 0 0.6rem color_opacity(#000000, 0.16);
          border: 1px solid white;
          color: white;

          &.open {
            background-color: $primary_red;
          }

          &.add {
            background-color: $primary_blue;
          }
        }
      }
    }
  }

  #transaction_list {
    margin-top: 3rem;

    .row {
      grid-template-columns: 3fr 2fr 4fr 4fr;
    }
  }
}

#sidebar {
  grid-area: sidebar;

  .header {
    border-bottom: 1px solid $primary_gray;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 2rem;
  }

  #order_summary {
    display: flex;
    flex-direction: column;
    padding: 1.8rem 2rem;

    .row {
      display: inline-grid;
      grid-template-columns: 3fr 2fr 1fr;
      align-items: center;

      > * {
        font-size: 1.6rem;
        font-weight: normal;
      }
    }

    .price {
      justify-self: end;
    }

    .remove_icon {
      justify-self: center;
      width: 1.3rem;
      height: 1.3rem;
    }

    .tax {
      margin-top: 2.8rem;
    }

    .divider {
      background-color: $primary_gray;
      margin: 1.5rem 0;
      width: 100%;
      height: 0.1rem;
    }
  }

  io-btn {
    background-color: $primary_blue;
    box-shadow: 0 0 0.6rem color_opacity(#000000, 0.16);
    border: 1px solid white;
    color: white;
    font-size: 1.4rem;
    font-weight: 200;
    margin: 0 2rem 2rem 2rem;
    padding: 1rem 2rem;
  }
}
